.popupBackdrop {
  z-index: 100000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.952);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  z-index: 10000;
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 97%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow-y: auto;
}

.popupContentInner {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-right: 10px;
}

.popupContentInner::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.photo {
  width: 100%;
  height: auto;
}

.info {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  all: unset;
  background-color: var(--download-btn-bg-color);
  color: white;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  width: 150px;
  height: 40px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  background-color: var(--download-btn-bg-color);
  border-radius: 5px;
  position: relative;
}

.icon {
  padding-left: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.authorContainer {
  display: flex;
  flex-direction: column;
}

.photographer {
  text-align: lefr;
  color: #2c343e;
  font-weight: bold;
}

.conditional {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  right: 5px;
  width: 200px;
  border-radius: 10px;
  top: 50px;
  padding-top: 10px;
}

.conditional p {
  text-transform: capitalize;
  text-align: left;
  font-weight: bold;
  margin-left: 10px;
  min-height: 30px;
  cursor: pointer;
}

.rotate {
  transform: rotate(180deg);
}
.popupContentInner::-webkit-scrollbar {
  display: none;
}

.popupContentInner {
  scrollbar-width: none;
}

.popupContentInner {
  -ms-overflow-style: none;
}

@media screen and (min-width: 768px) {
  .popupContent {
    width: 80%;
  }
  .authorContainer {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .popupContent {
    width: 55%;
  }
}
