.main {
  display: flex;
  justify-content: space-between;
}

.menuContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menuContainer p {
  font-weight: bold;
}
.title {
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.dots{
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}
.title:hover {
  color: rgb(223, 223, 223);
}
.join {
  all: unset;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  min-height: 40px;
  min-width: 70px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
}
.explore {
  display: flex;
  position: relative;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.explore p {
  margin: 0 auto;
}
