.container {
  display: flex;
  
}

.videoColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.videoWrapper {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin: 0 10px;

 }

 .video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.downloadIcon {
  width: 25px;
  height: 25px;
  stroke: white;
  stroke-width: 2;
  fill: none;
  cursor: pointer;
}

.overlay {
  position: absolute;
  bottom: 10px;
  right: 5px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.64);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

@media (min-width: 1024px) {
  .photosContainer {
    grid-template-columns: repeat(3, 1fr); /* Three images horizontally */
    columns: 3;
  }
}
